* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
:root {
  --font-heading: "Sen", sans-serif;
  --button-color: rgba(255, 185, 0, 1);
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* ==========all========= */
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}
.btn {
  min-width: 118px;
  display: block;
  line-height: 50px;
  padding: 0px 18px;
  font-size: 1.6rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  border-radius: 24.5px;
  background-color: black;
}
.btn:hover {
  opacity: 0.8;
}
/* =========header========== */
.header {
  background: rgba(255, 252, 244, 1);
  position: sticky;
  top: -28px;
  z-index: 1;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0px 8px;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  font-size: 1.6rem;
  font-weight: 400;
  color: rgba(95, 91, 83, 1);
  padding: 8px 21px;
  position: relative;
}
.nav li.active a,
.nav a:hover {
  color: rgba(23, 17, 0, 1);
  font-size: 16px;
  text-shadow: 0.5px 0.5px 0.5px currentColor;
}
.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  background: rgba(23, 17, 0, 1);
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px 0px 0px 0px;
}
.header .btn-first {
  min-width: 144px;
}
.body .nav {
  margin-right: 49px;
}
/* ==========hero========= */
.hero {
  padding-top: 56px 0px 65px;
  background-color: rgba(255, 252, 244, 1);
}
.hero .body {
  display: flex;
}
/* ==========left========== */
.hero .media-block {
  width: 48%;
}

.hero .body .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px 0px 0px 0px;
}
.hero .media-block {
  position: relative;
}
.hero .hero-summary {
  padding: 24px;
  position: absolute;
  bottom: 48px;
  right: 0;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  width: 270px;
  height: 244px;
  background: rgba(255, 255, 255, 1);
}
.hero-summary .item {
  display: flex;
  align-items: center;
}
.hero-summary .info {
  margin-left: 16px;
}
.hero-summary .item + .item {
  margin-top: 22px;
}
.hero-summary .label {
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: rgba(95, 91, 83, 1);
}
.hero-summary .title {
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: rgba(23, 17, 0, 1);
}
/* ========right======= */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}
.hero .f1 {
  font-family: Sen;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: -0.02em;
  text-align: left;
}
.hero .f3 {
  display: flex;
  margin-top: 38px;
}
.hero .text-hero {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: rgba(95, 91, 83, 1);
}
.hero .f2 {
  margin-top: 22px;
}
.hero .btn-hero {
  border-radius: 32px;
  background: var(--button-color);
  min-width: 180px;
  line-height: 64px;
}
.hero .Watch {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  margin-left: 28px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.Watch .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
  border-radius: 50px;
}
.Watch .bb {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  margin-left: 14px;
}
.hero .f4 {
  margin-top: 48px;
}
.hero .aa {
  margin-right: 15px;
  color: black;
  font-family: Sen;
  font-size: 44px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
  margin-right: 15px;
}
.hero .f5 {
  display: flex;
  margin-top: 8px;
}
.hero .cc {
  margin-left: 28px;
}
/* ========popular======= */
.popular {
  margin-top: 100px;
}
.popular .popular-h2 {
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(23, 17, 0, 1);
}
.popular .text-popular {
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin-top: 12px;
}
.popular .popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular .info-left {
  width: 458px;
}
.popular .popular-img1 {
  width: 40px;
  height: 40px;
  border: solid rgba(255, 185, 0, 1);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}
.popular .popular-img2 {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 185, 0, 1);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.popular .icon-right {
  display: flex;
}
.popular .popular-img1:hover {
  opacity: 0.7;
}
.popular .popular-img2:hover {
  opacity: 0.7;
}
/* =========popular-bottom======= */
.popular-bottom {
  display: flex;
  margin-top: 55px;
}
.popular-bottom .popular-rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
.popular-bottom .rate-img {
  margin-left: 119px;
}
.popular-bottom h3 {
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
  color: rgba(23, 17, 0, 1);
}
.popular .popular-rating {
  display: flex;
  justify-content: center;
  align-items: center;
}
.popular-bottom .popular-bottom-left {
  width: 370px;
  height: 466px;
  border-radius: 16px;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}
.popular p {
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px;
  color: rgba(95, 91, 83, 1);
  margin-top: 6px;
}
.popular .cost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.popular .cost p {
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
  color: rgba(23, 17, 0, 1);
}
.popular-bottom .popular-content {
  width: 326px;
  height: 150px;
  margin: 16px 22px 22px;
}
.popular .rate {
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px;
  color: rgba(254, 163, 27, 1);
  margin-bottom: 5px;
}
.popular .rate-img {
  margin-right: 5px;
}
.popular-bottom .ppl {
  background: rgba(255, 185, 0, 1);
  border: transparent;
}
.popular-bottom .popular-bottom-mid {
  margin-left: 30px;
  border: 1px solid rgba(226, 223, 218, 1);
  border-radius: 12px;
}
.popular-bottom .popular-bottom-right {
  margin-left: 30px;
  border: 1px solid rgba(226, 223, 218, 1);
  border-radius: 12px;
}
